body {
    font-family: 'VT323', monospace;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
}

.topBar {
    background-color: #bbb;
    display: flex;
    flex: 1;
    flex-grow: 0;
    flex-basis: 50px;
    align-items: center;
}

.mainSection {
    flex: 1;
    display: flex;
    background: black;
}


.mapWrapper {
    position: relative;
    height: 500px;
    overflow: hidden;
    margin: 50px;
    border: 1px solid #ccc;
    flex: 1;
    flex-grow: 0;
    flex-basis: 700px;
}

.mapContainer {
    background-color: #977;
    position: absolute;
    top: 100px;
    left: 100px;
    transform: perspective(800px) rotateX(60deg);
    transform-style: preserve-3d;
}

.map {
    border-color: #aaa;
    border-width: 1px;
    border-style: solid;
    width: 475px;
}

.hex {
    cursor: pointer;
    background-color: #aca;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hexImg {
    background: url(img/solid_tiles.png);
    height: 64px;
    width: 64px;
}

.hex:hover {
    opacity: 0.8;
}

.player {
    background-color: white;
    position: absolute;
    transform: rotateX(-60deg) translateY(-10px);
    transform-origin: bottom;
    transition: 0.5s ease;
}