/****************************/
/* Top-level */
/****************************/

body {
    /* font-family: 'VT323', monospace; */
    /* font-family: 'Open Sans Condensed', sans-serif; */
    /* font-family: 'Gentium Book Basic', serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lora', serif;
}

.____container {
    /* display: flex; */
    /* flex-direction: column; */
    /* background-color: black; */
    /* position: absolute; */
    /* top: 0; */
    /* bottom:0; */
    /* left: 0; */
    /* right: 0; */
}

.topBar {
    background-color: #bbb;
    padding: 10px;
    display: flex;
    flex: 1;
    flex-grow: 0;
    flex-basis: 50px;
    align-items: center;
}


.bgcolor {
    background: wheat;
}


/****************************/
/* Sections */
/****************************/

.mainSection {
    flex: 1;
    flex-direction: column;
    width: 1200px;
    margin: auto;
    display: flex;
    background: black;
}

.middleSection {
    flex: 1;
    /* flex-basis: 200px; */
    display: flex;
    flex-direction: row;
}

.bottomSection {
    flex: 1;
    display: flex;
}


/****************************/
/* Misc */
/****************************/

.character {
    /* border: 1px solid #222; */
    color: black;
    flex-grow: 0;
    padding: 10px;
}


.playerInfo {
    /* flex: 1; */
    /* padding: 10px; */
    color: black;
}

.header {
    font-size: 20px;
}

.infoRowHeader {
    /* text-align: right; */
    margin-right: 5px;
    color: #444;
}

.infoRow {
    /* margin-left: 10px; */
}


.actions {
    /* flex: 1; */
    /* color: black; */
    /* background-color: #222; */
    /* padding: 10px; */
}

.boxSection {
    background-color: burlywood;
}

.actionLink {
    cursor: pointer;
    margin: 10px 0;
    font-size: 16px;
}


.messages {
    flex: 2;
    background-color: #444;
    color: white;
    padding: 10px;
}


/****************************/
/* Map */
/****************************/

.mapWrapper {
    /* background: url(img/parchment.jpg); */
    background: #543;
    /* background: #555; */
    /* background: #469; */
    position: relative;
    height: 500px;
    overflow: hidden;
    /* margin: 5px; */
    border: 1px solid #ccc;
    flex: 1;
    flex-grow: 0;
    flex-basis: 500px;
}

.mapContainer {
    background-color: #977;
    position: absolute;
    top: 100px;
    left: 000px;
}

.map3d {
    transform: perspective(800px) rotateX(60deg);
    transform-style: preserve-3d;
}

.map {
    /* border-color: #aaa; */
    /* border-width: 1px; */
    /* border-style: solid; */
    width: 475px;
}

.hex {
    cursor: pointer;
    /* background-color: #aca; */
    background-color: wheat;
    /* border: 1px solid #999; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s opacity ease;
}

.hexImg {
    font-size: 50px;
    /* height: 64px; */
    /* width: 64px; */
    height: 32px;
    width: 32px;

    /* background: url(img/solid_tiles.png); */
    /* background: url(img/Ground0.png); */
    /* height: 64px; */
    /* width: 64px; */

    /* height: 16px; */
    /* width: 16px; */
    /* transform: scale(4); */
}

.hex:hover {
    opacity: 0.8;
}

.pixelImage {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.playerImg {
    background: url(img/Humanoid0.png) -112px -32px;
    height: 16px;
    width: 16px;
    transform: scale(2);
    transform-origin: 0 0
}

.player {
    color: black;
    font-size: 32px;
    position: absolute;
    text-shadow: 1px 1px 1px #fff;
}

.player3d {
    transform: rotateX(-60deg) translateY(-10px);
    transform-origin: bottom;
}



/****************************/
/* Tile types */
/****************************/

.grass {
    color: #797;
    font-size: 32px;
}

.mountain {
    color: gray;
    font-size: 50px;
}

.hills {
    color: #8c5b00;
    font-size: 40px;
}


.tileImage {
    height: 16px;
    width: 16px;
    transform: scale(2);
    transform-origin: 0 0
}

.grassTile {
    /* background: url(img/Floor.png) -128px -112px; */
    background: url(img/Ground0.png) 0px -0px;
}

.hillTile {
    /* background: url(img/Hill0.png) -48px -192px; */
    background: url(img/Hill0.png) -240px -48px;
}

.mountainTile {
    /* background: url(img/Hill0.png) -176px 0px; */
    /* background: url(img/Hill0.png) -16px -48px; */
    background: url(img/Hill0.png) -176px -0px;
}